<div class="container">
  <div *ngIf="auth.user | async; then authenticated else guest">
    <!-- template will replace this div -->
  </div>
</div> 

<ng-template #guest>

          <p class="text-center colorText textLogo">CryptoSorter</p>

          <p class="text-center colorText textHeader fedorStyle paddingHeader">
            Recognizing a cryptocurrency's investment potential is a challenge. 
            With over a thousand of coins out there, a quick analysis is not feasible.
          </p>
          <p class="text-center colorText textHeader fedorStyle paddingHeader">
            We engineered Crypto Value Index (CVI) that shows a higher short term 
            potential for coins with higher CVI values.
          </p>
          <p class="text-center colorText textHeader fedorStyle posTextLog">
            For long term holders and portfolio managers, we made handy crypto 
            portfolio tracker - your private spacecraft to the moon O)*
          </p> 

</ng-template>

<ng-template #authenticated>

  <div [class.display]='isEmptyValue'>
     <div [class.display]="!loading"> 
      <p class="totalSize2 colorText textLogo text-center alert">loading...</p>
  </div>

   <div *ngIf="!loading"> 
      <p class="totalSize colorText textLogo text-center alert" >
        {{totalSum | number:'1.0'}} $
      </p>

      <p class="persentUsdSize colorText text-center alert" > 
        Daily change:&nbsp; <span [style.color]="persentUSD < 0 ? '#DC3545' : '#009130'">
        {{persentUSD | number:'1.0'}} $ &nbsp;({{persentTotal}} %)</span>
      </p>

  </div> 
  </div>
  
  
</ng-template>
