<div>


<!--<div *ngIf='!isLoggedIn'>
    <particles class="mobileDisplay" [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles> 
</div> -->
   

<div style='padding-top:20px' class='headerMobile' [class.display]='isLoggedIn'>
  
        <p class="mobileDisplay text-center colorText textLogo cursorNone"><img class="mobileDisplay" style="height:90px; width:90px; margin-right:30px; margin-bottom:15px" src="../../assets/favicon-256.png">CryptoSorter</p>

        <p class="text-center colorText textHeader fedorStyle paddingHeader cursorNone">
          Invest smart and track your cryptocurrency funds with ease! 
          Try it now: custom <span class="linkBasicPage wallet" (click)="setFilterData()">filters</span>, <a class="linkBasicPage" href="/portfolio/izyy1tplfvbhtgqewk">multi-portfolios</a> with share, <a class="linkBasicPage" href="/ico/active">active</a> and <a class="linkBasicPage" href="/ico/upcoming">upcoming</a> ICOs, 
          and know-how <span class="linkBasicPageCVI wallet" title='Crypto Volatility Index (CVI) shows a higher potential for coins with higher CVI values'>Crypto Volatility Index</span>. <span class="linkBasicPage wallet" (click)="openRegistModal()">Register</span> for more!
        </p>

        <p class="text-center colorText textHeader fedorStyle posTextLog cursorNone screenDisplay" style="padding-bottom:25px;">
          Mobile website has limited functionality.
        </p> 


      </div>

<div [class.display]='!isLoggedIn'>


     <div *ngIf="loading"> 
      <p class="totalSize2 colorText textLogo text-center alert">Portfolio is loading...</p>
     </div>

   <div *ngIf="!loading"> 
     <div *ngIf='isEmptyValue'>
      <div id='total' style="padding-bottom: 0px; margin-bottom: 0px;" class="totalSize colorText textLogo text-center alert" >
        {{totalSum | number:'1.0'}} $ <span *ngIf='showTotalModuleL' class="persentUsdSize" >({{totalModule | number:'1.0' }} $)</span>
      </div>

      <p class="persentUsdSize24 colorText text-center alert" > 
        24h change:
      </p>

      <p style="padding-bottom: 20px;" class="persentUsdSize colorText text-center alert" > 
        <span [style.color]="persentUSD < 0 ? '#ff5e5e' : '#6ac13e'">
        {{persentUSD | number:'1.0'}} $ </span>
         &nbsp;|&nbsp;
         {{persentTotal}} %
      </p>
    </div> 
  </div>
  
  
</div>
</div> 

