<header></header>
<connectTable></connectTable>

<div class="colorConnect">
        <div class="spynerBasic" *ngIf="loading">
            <spinner></spinner>
        </div>
        
        
        <div class="tableStyle">
                <div class="paddingCurrency">

<!-- <div [class.display]='!loadingTable'>
        <div [class.emptyPadding]="!isEmptyWallet" [class.fullPadding]="isEmptyWallet">
            <p style="font-size: 30px;" class="colorText text-center paddingCenter">
                Loading…
            </p>
       </div>
</div> -->


<div [class.display]='loadingTable'>
  <div class="tabStyle3 tableStyle2 particle">
    <div [class.emptyPaddingTab]="!isEmptyWallet" [class.fullPaddingTab]="isEmptyWallet">
      <table id="icoActive-table" class="row-border hover table-striped modileTableIco" cellspacing="0" width="100%">
       <!--   <div class="lenght">Showing {{perPage*page - perPage }}-{{perPage*page > icoData.length ? icoData.length : perPage*page}} of {{icoData.length}} items.</div>
       -->

            <thead class="tableHeaderDisplayNone">
                <tr>
                   <th class="colorText text-center">Upcoming ICO name</th>   
                   <th class="colorText text-center">Starting in</th>  
                   <th class="colorText text-center">Ending in</th>   
                   <th class="colorText text-center">Description (tap to save)</th>  
                </tr>
              </thead>

              <thead class="mobileDisplay">
                <tr>
                   <th class="colorText text-center">Upcoming ICO name</th>   
                   <th class="colorText text-center">Starting in</th>  
                   <th class="colorText text-center">Ending in</th>  
                   <th class="colorText text-center">Description (click to save/unsave)</th>  
                </tr>
              </thead>
           

<tbody>
        <tr *ngFor="let ico of icoData | paginate: { itemsPerPage: perPage, currentPage: page } ; let i = index ;">
                <td  class="colorIco colorText tableSize text-center tableMobileSpeace noWrapp">
                    <a href="{{ico.website}}" target="_blank"><img style="width:200px;" title="{{ico.name}} website" src="{{ico.image}}"/></a></td>
                  <td [class.forLikes]='getIcoLikeStyle(ico)' style="width:20%"  class="colorText text-center tableMobileSpeace noWrapp"><p class="centerWal text-center">
                      {{ico.start_time | datePipes }}</p></td>
                  <td [class.forLikes]='getIcoLikeStyle(ico)' style="width:20%" class="colorText text-center tableMobileSpeace noWrapp">
                      <p class="centerWal text-center">{{ico.end_time  | datePipes }}</p></td>
                    <td [class.forLikes]='getIcoLikeStyle(ico)' style="width:30%" 
                    class="colorText tableMobileSpeaceDes wallet"
                    (click)='addToLikeIco(ico)' on-mouseover='text(ico)'> 
                        <p class="centerWal widthMobile">{{ico.description}}.</p></td>
        </tr>

</tbody>
</table>

<pagination-template class="buttonTabs padding-right" #p="paginationApi" (pageChange)="onPageChange($event, 150)">

  <ul class="pagination">
     <li class="page-item" [class.disabled]="p.isFirstPage()">
          <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(1)">
                  <span class="screenDisplay">&#171;</span>
                  <span class="mobileDisplay">First</span>
          </a>
      </li>
      <li class="page-item" [class.disabled]="p.isFirstPage()">
          <a class="page-link" href='#' (click)="link()" (click)="p.previous()">
                  <span class="screenDisplay">&#8249;</span>
                  <span class="mobileDisplay">Previous</span>
          </a>
       </li>
  
  
       <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
           <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(page.value)">{{page.value}}</a>
        </li>
        <li class="page-item" [class.disabled]="p.isLastPage()">
            <a class="page-link" href='#' (click)="link()" (click)="p.next()">
                  <span class="screenDisplay">&#8250;</span>
                  <span class="mobileDisplay">Next</span>
              </a>
        </li>
        <li class="page-item" [class.disabled]="p.isLastPage()">
             <a class="page-link" href='#' (click)="link()" (click)="p.getLastPage()">
                  <span class="screenDisplay">&#187;</span>
                  <span class="mobileDisplay">Last</span>
              </a>
         </li>
    </ul>
  </pagination-template> 

<div class="row paddingTableWallet paddingmobile mobileDisplay">
      <div class="col">
        <div ngbDropdown class="d-inline-block colorPaging"> Show
          <button class="btn btn-light btn-sm wallet" id="dropdownBasic1" ngbDropdownToggle>{{perPage}}</button>
          <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button class="dropdown-item wallet" (click)="switchCase('25')">25</button>
            <button class="dropdown-item wallet" (click)="switchCase('50')">50</button>
            <button class="dropdown-item wallet" (click)="switchCase('all')">All</button>
          </div> items.
        </div>
      </div>


</div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="push"></div>
