.styleIcon{
  color:#007BFF; 
  margin-left:10px; 
  margin-right: 20px; 
  margin-top: 20px;
}

.textDecorationUl{
    padding-left: 0px !important; 
    margin-left: 0px !important;
    list-style-type: none;
    position: relative;
    z-index: 999;
    width: 50%;
    left: 50%;
}

.position{
  position: relative;
  top: 5px;
  left: -15px;
}


.position2{
  position: absolute;
  top:20px;
  right: 70px;
}

.logo{
  outline: 0px;
}



