
<div class="container" style='margin-top: 20px'>
  <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-3 col-xl-3">

            <table class="colorText col-sm-6 col-md-5 col-lg-12 col-xl-12">
              <tr>
                  <td >{{data.Data?.General.H1Text ? data.Data?.General.H1Text : 'Loading...'}}</td>
                  <td>
                    <div *ngIf='loading$'>
                      <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                     </div> 
  
                <img *ngIf='!loading$' class="text-center"
                  alt="Coin Image" 
                  style="width: 50px; height: 50px" 
                  src="https://www.cryptocompare.com{{data.Data?.SEO.OgImageUrl}}">  </td>
              </tr>
              <tr>
                <td colspan="2" style="padding-bottom: 20px"><a [href]="data.Data?.General.WebsiteUrl" target="_blank" >{{data.Data?.General.WebsiteUrl}}</a></td>
              </tr>
              <tr>
                <td >Price (now):</td>
                <td style="width:102px">$ {{dataApi.price_usd ? (dataApi.price_usd | currencyValueChange) : 0}}</td>
              </tr>
              <tr>
                <td style="width:auto">Percent Change:</td>
                <td>
                  <span [style.color]="dataApi.percent_change_24h < 0 ? '#ff5e5e' : '#6ac13e'">
                  % {{dataApi.percent_change_24h ? (dataApi.percent_change_24h | number :'1.2') : 0}}
                  </span>
                </td>
              </tr>
              <tr>
                <td>Market Cap: </td>
                <td>$ {{dataApi.market_cap_usd ? (dataApi.market_cap_usd | currencyValueChange) : 0}}</td>
              </tr>
              <tr>
                <td>CVI: </td>
                <td>{{dataApi.formulaValue ? (dataApi.formulaValue | number:'1.2-2') : 0}}</td>
              </tr> 
              <tr>
                <td>Volume 24:</td>
                <td> $ {{dataApi['24h_volume_usd'] ? (dataApi['24h_volume_usd'] | currencyValueChange) : 0 }}
                </td>
               </tr>  
               <tr>
                  <td style="padding-top:10px; padding-bottom:10px">
                        <button 
                        style="width: 100px;" 
                        class='btn btn-success'
                        [class.addedToFavorite]='likeData'
                        (click)="likeRemove()"
                        [class.display]='dislikeData'> <i class="fa" [class.fa-thumbs-up]="!likeData" [class.fa-trash]="likeData"
                                                                      aria-hidden="true"></i></button>
                  </td>
                  <td style="padding-top:10px; padding-bottom:10px;">                                                    
                        <button 
                        style="width: 100px;"
                        class="btn btn-danger"
                        [class.addedToDislike]='dislikeData'
                        (click)="dislikeRemove()"
                        [class.display]='likeData'><i class="fa" [class.fa-thumbs-down]="!dislikeData" [class.fa-trash]="dislikeData"
                                                                        aria-hidden="true"></i></button>
                  </td>                                                 
                </tr> 

            </table>
          
        </div>
        <div class="col-sm-12 col-md-12 col-lg-9 col-xl-9"> 
            <ngb-tabset justify="fill" type="pills">
                <ngb-tab title="Charts">
                  <ng-template ngbTabContent>
                      <div *ngIf="!loadingChart" [chart]="stock"></div>
                      <div *ngIf="loadingChart" style="margin-bottom:200px">
                        <div class="loadingChart">
                            <div class="colorText">Loading...</div>
                            <div style="margin-left:5px; margin-top: 5px" class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
                        </div>
                      </div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title='Description'>
                  <ng-template ngbTabContent>
                      <div style="padding-top: 5px;" [innerHTML]="data.Data.General.Description ? data.Data.General.Description : 'Do not much data.' " class="colorText"></div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Features">
                  <ng-template ngbTabContent>
                    <div style="padding-top: 5px;" [innerHTML]="data.Data.General.Features ? data.Data.General.Features : 'Do not much data.' " class="colorText"></div>
                  </ng-template>
                </ngb-tab>
                <ngb-tab title="Technology">
                    <ng-template ngbTabContent>
                      <div style="padding-top: 5px;" [innerHTML]="data.Data.General.Technology ? data.Data.General.Technology : 'Do not much data.' " class="colorText"></div>
                      
                    </ng-template>
                  </ngb-tab>
              </ngb-tabset>
  
        </div>
  </div>  
</div>  

<div class="push"></div>


