<div class="colorConnect">
<div class="spynerBasic" *ngIf="loading">
    <spinner></spinner>
</div>


<div class="tableStyle">
        <div class="paddingCurrency">

<div [class.display]='!loadingTable'>
        <div [class.emptyPadding]="!isEmptyWallet" [class.fullPadding]="isEmptyWallet">
                <p class="colorText text-center paddingCenter">
                        Please wait while we're brainstorming over a thousand 
                        of cryptocurrencies. Once loaded, navigation will be 
                        lightning fast! Still waiting? Try guessing which coin is moon today!
                </p>
       </div>
</div>


<div [class.display]='loadingTable'>
    <div class="tabStyle tableStyle2 particle fullPaddingTab">
        <table id="currency-table" class="row-border hover table-striped modileTable" cellspacing="0" width="100%">
                <thead>
                        <tr>
                            <th colspan="2" class="mobileDisplay"><div class="lenght">Showing {{perPage*page + 1 - perPage }}-{{perPage*page > 
                                (data | currencyfilter: filter | minfilter: minfilter).length ? (data | currencyfilter: filter | minfilter: minfilter).length : perPage*page}}
                                 of {{(data | currencyfilter: filter | minfilter: minfilter).length}} items.</div></th> 
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace screenDisplay">Name</th>     
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" (click)="sort('formulaValue')">Index
                                <span class="fa" *ngIf="key =='formulaValue'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" (click)="sort('market_cap_usd')">Market Cap $
                                <span class="fa" *ngIf="key =='market_cap_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" (click)="sort('24h_volume_usd')">Volume $
                                <span class="fa" *ngIf="key =='24h_volume_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" (click)="sort('percent_change_24h')">% 24h
                                <span class="fa" *ngIf="key =='percent_change_24h'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" (click)="sort('price_usd')">Price $
                                <span class="fa" *ngIf="key =='price_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                            </th>   
                        </tr>
                    </thead>
                    <thead class="mobileDisplay">
                        <tr>
                            <th colspan="2" ><div><input #autofocus class="form-control form-control-sm" type="text"  style="width:97%"
                                name="name" [(ngModel)]="filter.name || filter.symbol" [(ngModel)]="minfilter.name || filter.symbol" placeholder="Search Coin"></div></th>
                            <th style="width:18%">
                                    <div class="centerInput">
                                    <input class="form-control form-control-sm paddingInput" type="number" style="width:46%; float:left"
                                        name="formulaValue" [(ngModel)]="minfilter.formulaValue" min='0' placeholder="Min" 
                                        (ngModelChange)="minIndexChange($event)">
                                   <input class="form-control form-control-sm" type="number" style="width:46%"
                                        name="formulaValue" [(ngModel)]="filter.formulaValue" min='0' placeholder="Max" 
                                        (ngModelChange)="maxIndexChange($event)"> 
                                    </div>
                                </th>
                            <th style="width:18%">
                                <div class="centerInput">
                                <input class="form-control form-control-sm paddingInput" type="number" min='0' style="width:46%; float:left"
                                    name="market_cap_usd" [(ngModel)]="minfilter.market_cap_usd"  placeholder="Min"
                                    (ngModelChange)="minMarketChange($event)" step="1000000">
                                <input class="form-control form-control-sm" type="number" style="width:46%" min='0'
                                name="market_cap_usd" [(ngModel)]="filter.market_cap_usd"  placeholder="Max" 
                                (ngModelChange)="maxMarketChange($event)" step="1000000">
                                </div>
                            </th>
                            <th style="width:18%">
                                <div class="centerInput">
                                    <input class="form-control form-control-sm paddingInput" type="number" min='0' style="width:46%; float:left"
                                name="24h_volume_usd" [(ngModel)]="minfilter['24h_volume_usd']" placeholder="Min"
                                (ngModelChange)="minVolumeChange($event)" step="100000">
                                <input class="form-control form-control-sm" type="number" style="width:46%" min='0'
                                name="24h_volume_usd" [(ngModel)]="filter['24h_volume_usd']" placeholder="Max"
                                (ngModelChange)="maxVolumeChange($event)" step="100000">
                            </div>
                            </th>
                            <th ></th>
                            <th ></th>   
                        </tr>
                    </thead>
                     
        
        <tbody>
            <tr *ngFor="let row of data | currencyfilter: filter | minfilter: minfilter | orderBy: key : reverse | paginate: { itemsPerPage: perPage, currentPage: page } ; let i = index ;"
            class="animated" 
            [class.bounceOut]="deleteAnimation(row)" 
            [class.fadeOutRightBig]="i == likedRow"  
            [class.fadeOutLeftBig]="i == addedCoin" >
                    <td style="width:11%" class="mobileDisplay">
                            <div> 
                                <button class="btn btn-sm"
                                [class.btn-info]="!walletColor(row)"
                                [class.wallet]="!walletColor(row)"
                                [disabled]="walletColor(row)"
                                [class.chekt]="walletColor(row)"
                                (click)='getValueWallet(row, tabWallet, i)'
                                title="Add to Wallet">
                                <i class="fa"
                                [class.fa-plus-circle]="!walletColor(row)"
                                [class.fa-check]="walletColor(row)"
                                [class.facheckW]="walletColor(row)" 
                                aria-hidden="true"></i>
                            </button> 
                            <button
                            class="btn btn-sm like"
                            [class.btn-success]="!likesColor(row)"
                            [class.chekt]="likesColor(row)"
                            [disabled]="likesColor(row)"
                            [class.pad]="likesColor(row)"
                            rel="tooltip" title="To Favorite" 
                            data-placement="left" (click)="getValueLike(row, i)">
                            <i class="facheck fa"
                            [class.fa-thumbs-up]="!likesColor(row)"
                            [class.fa-check]="likesColor(row)"
                            [class.facheck]="likesColor(row)"
                            aria-hidden="true"></i>
                        </button>
                        <button id='delete' [class.display]="likesColor(row)" 
                        class="btn btn-sm btn-danger delete remove" 
                        rel="tooltip" title="To Deleted"
                        data-placement="left" (click)="getValueDislike(row, i)">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                        <img [class.titleIndex]="!symbolNoFit(row.symbol)"
                        [class.cursor]="symbolNoFit(row.symbol)"
                        [src]="getCoinImage(row.symbol)" (click)="getWebPage(row.symbol)"
                         type="image" class='sizeImg1' title="{{row.name}} website" />

                </div>             
                </td> 
                <!--(click)='gotoDetail(row.symbol)' -->
                <td class="colorText tableSize tableMobileSpeaceName" style="width:15%">
                        <p class="tableName centerWalName">
                        {{row.name}}   
                        <a target="_blank" href="https://coinmarketcap.com/currencies/{{row.id}}/" 
                    class="linksTable mobileDisplay">
                    ({{row.symbol}})
                </a>
                    </p> 
                </td>
                <td class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center">{{row.formulaValue | number :'1.2-2'}}</p></td>
                <td class="colorText tableSizeNumber tableMobileSpeace"><p class="centerWal text-center">
                    {{row.market_cap_usd | currencyValueChange }}</p></td>
                <td class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center">{{row['24h_volume_usd'] | currencyValueChange }}</p></td>
                <td style="width:8%" class="colorText tableSizeNumber weight tableMobileSpeace">
                    <p class="centerWal text-center"><span [style.color]="row.percent_change_24h < 0 ? '#ff5e5e' : '#6ac13e'">
                        {{row.percent_change_24h | number :'1.2'}}</span></p></td>
                    <td style="width:8%" class="colorText tableSizeNumber tableMobileSpeace">
                        <p class="centerWal text-center">{{row.price_usd |  currencyValueChange }}</p></td> 
    </tr>
    <tr *ngIf="(data | currencyfilter: filter | minfilter: minfilter).length === 0">
            <td colspan="7" class="colorText text-center">No matching records found</td>
       </tr> 

</tbody>
</table>

<pagination-template class="buttonTabs padding-right" #p="paginationApi" (pageChange)="onPageChange($event, 150)">

    <ul class="pagination">
       <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(1)">
                    <span class="screenDisplay">&#171;</span>
                    <span class="mobileDisplay">First</span>
            </a>
        </li>
        <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" href='#' (click)="link()" (click)="p.previous()">
                    <span class="screenDisplay">&#8249;</span>
                    <span class="mobileDisplay">Previous</span>
            </a>
         </li>
    
    
         <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
             <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(page.value)">{{page.value}}</a>
          </li>
          <li class="page-item" [class.disabled]="p.isLastPage()">
              <a class="page-link" href='#' (click)="link()" (click)="p.next()">
                    <span class="screenDisplay">&#8250;</span>
                    <span class="mobileDisplay">Next</span>
                </a>
          </li>
          <li class="page-item" [class.disabled]="p.isLastPage()">
               <a class="page-link" href='#' (click)="link()" (click)="p.getLastPage()">
                    <span class="screenDisplay">&#187;</span>
                    <span class="mobileDisplay">Last</span>
                </a>
           </li>
      </ul>
    </pagination-template> 

<div class="row paddingTableWallet mobileDisplay">
        <div class="col">
          <div ngbDropdown class="d-inline-block colorPaging"> Show
            <button class="btn btn-light btn-sm wallet" id="dropdownBasic1" ngbDropdownToggle>{{perPage}}</button>
            <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item wallet" (click)="switchCase('25')">25</button>
              <button class="dropdown-item wallet" (click)="switchCase('50')">50</button>
              <button class="dropdown-item wallet" (click)="switchCase('all')">All</button>
            </div> items.
          </div>
        </div>

 
</div>
</div>

<ng-template #tabWallet let-c="close" let-d="dismiss"> 
    <div class="modal-body modalStyle">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> 
        <h4 class="modal-title colorText text-center">Add coin to portfolio</h4> 
        
        <table class="cursorNone">
            <tr >
                <td class="tabWalletStyle colorText padWalletTable">Coin name:</td>
                <td colspan="2" class="tabWalletStyle2 colorText walletTable padWalletTable">
                    {{ currensy.name}}</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Coin price: </td>
                <td colspan="2" class="tabWalletStyle2 colorText  walletTable colorPrice padWalletTable">
                    {{ currensy.price_usd | number :'1.0-5'}} $</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Total sum:</td>
                <td colspan="2" class="tabWalletStyle2 colorTotal walletTable padWalletTable">
                     {{ currensy.price_usd*coins | number :'1.2-2'}} $</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Amount:</td>  
                <td class="walletInputCoin padWalletTable">         
                    <form [formGroup]="numberForm" class="form-inline" >
                        <input (input)="coins = $event.target.value" value={{coins}}
                        class="form-control" type="number" id="example-search-input" 
                        formControlName="number" required> 
                    </form>   
                </td>  
                <td>
                    <button type="submit" [class.wallet]="numberForm.valid"
                     class="btn btn-info paddingTabBut" 
                    [disabled]="!numberForm.valid" (click)="createWallet(coins)">Add</button>
                </td>
                
            </tr>
            <tr>
                <td colspan="3" *ngIf="formErrors.number" class="alert alert-danger padWalletTable">
                    {{ formErrors.number }}
                </td>
            </tr>
            
        </table>
        
        <button type="button" class="btn btn-outline-secondary buttonTabs wallet" (click)="c('Close click')">Cancel</button>
        
        
    </div>
</ng-template>
</div>
</div>
</div>
</div>

<div class="push"></div>



