<header (dataFilter)='dataFilterFromHeader($event)'></header>
<connectTable id="forScrolling"></connectTable>

<div class="colorConnect">
<div class="spynerBasic"
    *ngIf="loading">
    <spinner></spinner>
</div>


<div class="tableStyle">
        <div class="paddingCurrency">

<!-- <div [class.display]='!loadingTable'>
        <div [class.emptyPadding]="!isEmptyWallet" 
             [class.fullPadding]="isEmptyWallet">  
                <p style="font-size: 30px;" 
                   class="colorText text-center paddingCenter">
                    Loading…
                </p>
       </div>
</div> -->


<div [class.display]='loadingTable'>
    <div class="tabStyle3 tableStyle2 particle">
        <div [class.emptyPaddingTab]="!isEmptyWallet" 
             [class.fullPaddingTab]="isEmptyWallet">
            <input class="form-control form-control-sm screenDisplay stylingForInputMobile" 
                   type="text"  
                   name="name"  
                   [(ngModel)]="filters" 
                   placeholder="Search Coin">
        <table id="currency-table" 
               class="row-border hover table-striped modileTable" 
               cellspacing="0" 
               width="100%">
                <thead class="tableHeaderDisplayNone">
                        <tr>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeaceName screenDisplay">
                                Name
                            </th> 
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" 
                                (click)="sort('percent_change_24h')">
                                % 24h
                                <span class="fa" 
                                      *ngIf="key =='percent_change_24h'" 
                                      [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}">
                                </span>
                            </th> 
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" 
                                (click)="sort('price_usd')">
                                Price $
                                <span class="fa" 
                                      *ngIf="key =='price_usd'" 
                                      [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}">
                                </span>
                            </th>  
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace">
                                Price Chart $, 24h
                             </th>   
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" 
                               (click)="sort('formulaValue')">
                               CVI
                                <span class="fa" 
                                      *ngIf="key =='formulaValue'" 
                                      [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}">
                                </span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" 
                               (click)="sort('market_cap_usd')">
                               Market Cap $
                                <span class="fa" 
                                      *ngIf="key =='market_cap_usd'" 
                                      [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}">
                                </span>
                            </th>
                            <th class="colorText tableSize text-center wallet paddingHeader tableMobileSpeace" 
                               (click)="sort('24h_volume_usd')">
                               Volume $
                                <span class="fa" 
                                      *ngIf="key =='24h_volume_usd'" 
                                      [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}">
                                </span>
                            </th> 
                        </tr>
                    </thead>
                    <thead class="mobileDisplay">
                        <tr>
                            <th style="width:28%; bottom: -15px; position: relative;"><div class="lenght">Showing {{perPage*page + 1 - perPage }}-{{perPage*page > 
                                    (data | filter: filters | currencyfilter: filter | minfilter: minfilter).length ? (data | filter: filters | currencyfilter: filter | minfilter: minfilter).length : perPage*page}}
                                     of {{(data | filter: filters | currencyfilter: filter | minfilter: minfilter).length}} coins.</div>
                                <div><input #autofocus class="form-control form-control-sm" type="text"  style="width:97%;"
                                     [(ngModel)]="filters" placeholder="Search Coin"></div></th>
                                <th style="padding-bottom: 0px; margin-bottom: 0px; bottom: -32px; position: relative;" 
                                    class="colorText tableSize text-center paddingHeader tableMobileSpeace" >
                                    <p [class.rowActive]="key =='percent_change_24h'"
                                       (click)="sort('percent_change_24h')" 
                                       class="wallet rowHoverColor" 
                                       style="padding-bottom: 0px; margin-bottom: 0px;">% 24h
                                        <span class="fa" *ngIf="key =='percent_change_24h'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                                    </p>
                                    </th> 
                                    <th style="padding-bottom: 0px; margin-bottom: 0px; bottom: -32px; position: relative;" 
                                        class="colorText tableSize text-center tableMobileSpeace">
                                        <p [class.rowActive]="key =='price_usd'"
                                           (click)="sort('price_usd')" 
                                           class="wallet rowHoverColor" 
                                           style="padding-bottom: 0px; margin-bottom: 0px; white-space:nowrap">
                                           Price $ 
                                           <span class="fa" *ngIf="key =='price_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                                        </p> 
                                    </th>    
                                <th style="width:11%"
                                    class="colorText tableSize tableMobileSpeace">
                      
                                    <!-- <div ngbDropdown class="d-inline-block colorPaging wallet" style="width: 100%" >
                                            <button class="btn btn-light btn-sm wallet" style="width: 100%" id="dropdownBasic1" ngbDropdownToggle><span style="float: left">{{historicalDateName}}</span></button>
                                            <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                                              <button class="dropdown-item wallet" (click)="switchDate('1y')">1 year</button>
                                              <button class="dropdown-item wallet" (click)="switchDate('30d')">30 days</button>
                                              <button class="dropdown-item wallet" (click)="switchDate('7d')">7 days</button>
                                              <button class="dropdown-item wallet" (click)="switchDate('24h')">24 hours</button>
                                            </div>
                                          </div>
            
                                <ngx-select
                                 class="wallet"
                                 id='select'
                                size='small'
                                [items]="itemsGraphic"
                                 optionValueField="symbol" 
                                [defaultValue]="defaultChars"
                                 optionTextField="name"
                                [(ngModel)]="ngxValue"
                                placeholder="Change the currency"
                                (select)="doSelectGraphic($event)"
                                ></ngx-select>  -->
                                <p class="text-center" style="padding-bottom: 0px; margin-bottom: 0px; bottom: -32px; position: relative;">Price Chart $, 24h</p>
                            </th>

                            <th style="width:11%">
                                    <div title="Crypto Volatility Index (CVI) shows a higher potential for coins with higher CVI values"
                                     class="centerInput">   
                                    <input class="form-control form-control-sm paddingInput" type="number"
                                    [class.inputSortingStyle]="!reverse && key == 'formulaValue'"
                                        name="formulaValue" [(ngModel)]="minfilter.formulaValue" min='0' placeholder="Min CVI" 
                                        (ngModelChange)="minIndexChange($event)">
                                   <input class="form-control form-control-sm" type="number" 
                                    [class.inputSortingStyle]="reverse && key == 'formulaValue'"
                                        name="formulaValue" [(ngModel)]="filter.formulaValue" min='0' placeholder="Max CVI" 
                                        (ngModelChange)="maxIndexChange($event)"> 
                                    </div>
                                   <p [class.rowActive]="key =='formulaValue'"
                                      style="padding-bottom: 3px; margin-bottom: 0px; padding-top: 5px;" 
                                      class="colorText tableSize text-center wallet tableMobileSpeace rowHoverColor" 
                                      (click)="sort('formulaValue')">
                                      CVI
                                    <span class="fa" *ngIf="key =='formulaValue'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                                    </p>
                                </th>
                            <th style="width:11%">
                                <div class="centerInput">
                                <input class="form-control form-control-sm paddingInput" type="number" min='0'
                                [class.inputSortingStyle]="!reverse && key == 'market_cap_usd'"
                                    name="market_cap_usd" [(ngModel)]="minfilter.market_cap_usd"  placeholder="Min Market Cap"
                                    (ngModelChange)="minMarketChange($event)" step="1000000">
                                <input class="form-control form-control-sm" type="number"  min='0'
                                [class.inputSortingStyle]="reverse && key == 'market_cap_usd'"
                                name="market_cap_usd" [(ngModel)]="filter.market_cap_usd"  placeholder="Max Market Cap" 
                                (ngModelChange)="maxMarketChange($event)" step="1000000">
                                </div>
                                <p [class.rowActive]="key =='market_cap_usd'"
                                   style="padding-bottom: 3px; margin-bottom: 0px; padding-top: 5px;" 
                                   class="colorText tableSize text-center wallet tableMobileSpeace rowHoverColor" 
                                   (click)="sort('market_cap_usd')">
                                   Market Cap
                                    <span class="fa" *ngIf="key =='market_cap_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                                    </p>
                            </th>
                            <th style="width:11%">
                                <div class="centerInput">
                                    <input class="form-control form-control-sm paddingInput" type="number" min='0'
                                    [class.inputSortingStyle]="!reverse && key == '24h_volume_usd'"
                                name="24h_volume_usd" [(ngModel)]="minfilter['24h_volume_usd']" placeholder="Min Volume"
                                (ngModelChange)="minVolumeChange($event)" step="100000">
                                <input class="form-control form-control-sm" type="number"  min='0'
                                 [class.inputSortingStyle]="reverse && key == '24h_volume_usd'"
                                name="24h_volume_usd" [(ngModel)]="filter['24h_volume_usd']" placeholder="Max Volume"
                                (ngModelChange)="maxVolumeChange($event)" step="100000">
                            </div>
                            <p [class.rowActive]="key =='24h_volume_usd'"
                               style="padding-bottom: 3px; margin-bottom: 0px; padding-top: 5px;" 
                               class="colorText tableSize text-center wallet tableMobileSpeace rowHoverColor" 
                               (click)="sort('24h_volume_usd')">
                               Volume
                                <span class="fa" *ngIf="key =='24h_volume_usd'" [ngClass]="{'fa-chevron-up':!reverse,'fa-chevron-down':reverse}"></span>
                                </p>
                            </th>
                        </tr>
                    </thead>
        <tbody>
            <tr *ngFor="let row of data | filter: filters | currencyfilter: filter | minfilter: minfilter | orderBy: key : reverse | paginate: { itemsPerPage: perPage, currentPage: page } ; let i = index ;"
            class="animated" 
            [class.bounceOut]="deleteAnimation(row)" 
            [class.fadeOutRightBig]="i == likedRow"  
            [class.fadeOutLeftBig]="i == addedCoin" >

                <td class="colorText textHeader tableMobileSpeaceName">
                    <div style="float: left; padding-top: 4px; padding-right: 8px;">
                            <div style="display: inline;">
                                        <div ngbDropdown class="d-inline-block ">
                                            <button (click)='openRegistModule()' style='margin-right:4px'
                                            [class.colorWalletAddButton]='findFullWallet(row)'
                                            class="btn btn-sm btn-info wallet mobileDisplay" id="dropdownWallet" ngbDropdownToggle >
                                                <i class="fa"
                                                [class.fa-plus-circle]='!findFullWallet(row)'
                                                [class.fa-plus]='findFullWallet(row)'
                                                aria-hidden="true"></i>
                                            </button>
                                            <div ngbDropdownMenu aria-labelledby="dropdownWallet" >
                                              <button style="width: 200px; white-space: normal"
                                                       (click)='getValueWallet(row, tabWallet, i, ind, list.id)' 
                                                       [class.wallet]="!findDataWallet(row, ind)"
                                                       class="dropdown-item dropdown-wallet" 
                                                       *ngFor="let list of connection; let ind = index"
                                                       [disabled]="findDataWallet(row, ind)"
                                                       [class.display]='!list.edit' >{{list.name}}
                                                       <i class="fa posotionAdd"
                                                       [class.fa-plus]="findDataWallet(row, ind)"
                                                       [class.facheckW]="findDataWallet(row, ind)" 
                                                       aria-hidden="true"></i>
                                                    </button>
                                            </div>
                                          </div> 
     
                                <button style='margin-right:4px'
                                class="btn btn-sm like mobileDisplay"
                                [class.btn-success]="!likesColor(row)"
                                [class.chekt]="likesColor(row)"
                                [disabled]="likesColor(row)"
                                [class.pad]="likesColor(row)"
                                rel="tooltip" title="To Favorites" 
                                data-placement="left" (click)="getValueLike(row, i)">
                                <i class="facheck fa"
                                [class.fa-thumbs-up]="!likesColor(row)"
                                [class.fa-check]="likesColor(row)"
                                [class.facheck]="likesColor(row)"
                                aria-hidden="true"></i>
                            </button>
                            <button id='delete' [class.display]="likesColor(row)" 
                            class="btn btn-sm btn-danger delete remove mobileDisplay" 
                            rel="tooltip" title="To Disliked"
                            data-placement="left" (click)="getValueDislike(row, i)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                            </button>
                            <img style ='margin-left:4px' [class.titleIndex]="!symbolNoFit(row.symbol)"
                            (click)="getWebPage(row.symbol)"
                            [class.cursor]="symbolNoFit(row.symbol)"
                            [src]="getCoinImage(row.symbol)"
                             type="image" class='sizeImg3 mobileDisplayLogo colorHoverIcon' title="{{row.name}} website"/>
                            </div>
                    </div>
                       
                    <p (click)='goToDescription(row.name, row.symbol)' 
                    class="wallet centerWalName styleMobileWidth">
                    <span class="colorHoverLink">
                    {{row.name}}</span> |
                    <span target="_blank"  
                class="linksTable">
                {{row.symbol.toUpperCase()}}
                    </span>
                </p>                    
                </td>
                <td style="width:8%" class="colorText tableSizeNumber weight tableMobileSpeace">
                    <p class="centerWal text-center">
                        <span [style.color]="row.percent_change_24h < 0 ? '#ff5e5e' : '#6ac13e'">
                        {{row.percent_change_24h | number :'1.2'}}</span></p></td>
                <td style="width:8%" class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center">{{row.price_usd |  currencyValueChange }}</p></td> 
                <td style="width:11%;"  class="colorText tableSizeNumber weight2 tableMobileSpeace">
                    <img [src]="getChart(row.symbol)" 
                         style="width:130px; height: 44px; color:white; display: block; margin-left: auto; margin-right: auto;"
                         onerror="this.src='assets/noData.png';">
                </td>
                <td style="width:11%;" class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center">{{row.formulaValue | number :'1.2-2'}}</p></td>
                <td style="width:11%;" class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center"> {{row.market_cap_usd | currencyValueChange }}</p></td>
                <td style="width:11%;" class="colorText tableSizeNumber tableMobileSpeace">
                    <p class="centerWal text-center">{{row['24h_volume_usd'] | currencyValueChange }}</p></td>
    </tr>
    <tr *ngIf="(data | filter: filters | currencyfilter: filter | minfilter: minfilter).length === 0">
            <td colspan="8" class="colorText text-center">We found no matching coins. Try to change filters?</td>
       </tr> 

</tbody>
</table>

<pagination-template [ngx-scroll-to]="'#forScrolling'" class="mobilePagination floatPagination pagination-right" (pageChange)="onPageChange($event)" #p="paginationApi" >

   <div class="center-pagin">
    <ul class="pagination">
       <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(1)">
                    <span class="screenDisplay">&#171;</span>
                    <span class="mobileDisplay">First</span>
            </a>
        </li>
        <li class="page-item" [class.disabled]="p.isFirstPage()">
            <a class="page-link" href='#' (click)="link()" (click)="p.previous()">
                    <span class="screenDisplay">&#8249;</span>
                    <span class="mobileDisplay">Previous</span>
            </a>
         </li>
    
    
         <li class="page-item" *ngFor="let page of p.pages" [class.active]="p.getCurrent() === page.value">
             <a class="page-link" href='#' (click)="link()" (click)="p.setCurrent(page.value)">{{page.value}}</a>
          </li>
          <li class="page-item" [class.disabled]="p.isLastPage()">
              <a class="page-link" href='#' (click)="link()" (click)="p.next()">
                    <span class="screenDisplay">&#8250;</span>
                    <span class="mobileDisplay">Next</span>
                </a>
          </li>
          <li class="page-item" [class.disabled]="p.isLastPage()">
               <a class="page-link" href='#' (click)="link()" (click)="p.getLastPage()">
                    <span class="screenDisplay">&#187;</span>
                    <span class="mobileDisplay">Last</span>
                </a>
           </li>
      </ul>
    </div> 
    </pagination-template> 

<div class="row paddingTableWallet mobileDisplay">
        <div class="col">
          <div ngbDropdown class="d-inline-block colorPaging"> Show
            <button class="btn btn-light btn-sm wallet" id="dropdownBasic1" ngbDropdownToggle>{{perPage}}</button>
            <div class="dropdownMenu" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button class="dropdown-item wallet" (click)="switchCase('25')">25</button>
              <button class="dropdown-item wallet" (click)="switchCase('50')">50</button>
              <button class="dropdown-item wallet" (click)="switchCase('all')">All</button>
            </div> items.
          </div>
        </div>

 
</div>
</div>

<ng-template #tabWallet let-c="close" let-d="dismiss"> 
    <div class="modal-body modalStyle">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button> 
        <h4 class="modal-title colorText text-center">Add coin to portfolio</h4> 
        
    <div>
        <input class="form form-control" value="{{currensy.name}}" disabled="true"/>
    </div>    
                    
      <div style="padding-top: 10px">             
        <table class="cursorNone">
            <tr >
                <td class="tabWalletStyle colorText padWalletTable">Coin name:</td>
                <td colspan="2" class="tabWalletStyle2 colorText walletTable padWalletTable">
                    {{ currensy.name}}</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Coin price: </td>
                <td colspan="2" class="tabWalletStyle2 colorText  walletTable colorPrice padWalletTable">
                    {{ currensy.price_usd | number :'1.0-5'}} $</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Total sum:</td>
                <td colspan="2" class="tabWalletStyle2 colorTotal walletTable padWalletTable">
                     {{ currensy.price_usd*(coins < 0 ? 0 : coins)  | number :'1.2-2'}} $</td>
            </tr>
            <tr>
                <td class="tabWalletStyle colorText padWalletTable">Amount:</td>  
                <td class="walletInputCoin padWalletTable">         
                    <form [formGroup]="numberForm" class="form-inline" >
                        <input (input)="coins = $event.target.value" value={{coins}}
                        class="form-control" type="number" id="example-search-input" 
                        formControlName="number" required> 
                    </form>   
                </td>  
                <td>
                    <button type="submit" [class.wallet]="numberForm.valid"
                     class="btn btn-infos paddingTabBut" 
                    [disabled]="!numberForm.valid" (click)="createWallet(coins)">Add</button>
                </td>
                
            </tr>
            
        </table>
        <p class="colorText" style="padding-left:0px; margin-bottom:5px;">Type US Dollar for fiat money.</p>
        <p class="colorText text-left">
            Negative amounts (e.g. loans) reduce portfolio value, and added up and shown separately with "-".
        </p>
      </div> 
 
    <button type="button" class="btn btn-outline-secondary buttonTabs wallet" (click)="c('Close click')">Cancel</button>

    </div>
     <!--  <p colspan="3" *ngIf="formErrors.number" class="alert alert-danger padWalletTable text-center">
            {{ formErrors.number }}
    </p> -->
</ng-template>
</div>
</div>
</div>
</div>
</div>

<div class="push"></div>



