<form [formGroup]="userForm"  
      *ngIf="newUser"  
      (ngSubmit)="signup()"
      class='userFormAnimation'>

  <h3 class="colorText text-center paddingLogin">
    Registration <span (click)="toggleForm()" style="font-size:18px" class="colorText2 ">(login?)</span>
  </h3>
 



  <div >
    <div class="container">	
     <label class="colorText "for="email">Email (valid email address, please)</label>
     <input type="email" id="email" class="form-control marginLogin"
         formControlName="email" required >

     <!-- <div *ngIf="formErrors.email" class="alert alert-danger">
      {{ formErrors.email }}
     </div> -->

     <label class="colorText paddingTopForInput" for="password">Password (6+ characters long, letters and numbers)</label>
     <input type="password" id="password" class="form-control"
            formControlName="password" required >
   
     <!-- <div *ngIf="formErrors.password" class="alert alert-danger">
       {{ formErrors.password }}
     </div> -->
   
   <!--  <div *ngIf="userForm.valid" class="alert alert-success">Form is valid</div> -->

     <button type="submit" class="btn btn-lg btn-primary btn-block btn-pos paddingInput2"
      [class.wallet]="userForm.valid" [disabled]="!userForm.valid">Let’s go!</button>

    </div>
  </div>  


</form>


<form [formGroup]="userForm"  *ngIf="!newUser"  (ngSubmit)="login()" class='userFormAnimation'>

  <h3 class="colorText text-center paddingLogin">User Login <span style="font-size:18px" class="colorText2" (click)="toggleForm()">(register?)</span></h3>

  <div>
    <div class="container">	
     <label class="colorText" for="email">Email (valid email address, please)</label>
     <input type="email" id="email" class="form-control marginLogin"
         formControlName="email" required >

     <!-- <div *ngIf="formErrors.email" class="alert alert-danger">
      {{ formErrors.email }}
     </div> -->

     <label class="colorText paddingTopForInput" for="password">Password (6+ characters long, letters and numbers)</label>
     <input type="password" id="password" class="form-control"
         formControlName="password" required >

     <!-- <div *ngIf="formErrors.password" class="alert alert-danger">
    {{ formErrors.password }}
     </div> -->
     
   <!--  <div *ngIf="userForm.valid" class="alert alert-success ">Form Looks Valid</div> -->

     <button type="submit" class="btn btn-lg btn-primary btn-block btn-pos paddingInput2" 
      [class.wallet]="userForm.valid" [disabled]="!userForm.valid">Let’s go!</button>

  

  <a *ngIf="!passReset && userForm.controls.email.valid" (click)="resetPassword()"><p style="font-size: 16px;" class="text-center colorText3">Reset password for {{userForm.value.email}}?</p></a>
  <p *ngIf="passReset" style="padding-bottom: 20px; font-size: 16px;" class="colorText text-center">New password has been sent to your email. Please check your email for further instructions.</p>
    </div>
  </div>

</form>
