.textCenterCoinsWal{
    padding-left:35%;
 }
 
 .textCenterTotalWal{
     padding-left:38%;
 }
 
 .textCenterPriceWal{
     padding-left:31%;
  }
  
  .textCenterAllocationWal{
      padding-left:32%;
  }
  .textCenterPercentWal{
     padding-left:35%;
  }

  .cursor{
    cursor: pointer;
  }
  
  .titleIndex{
    pointer-events: none;
  }

  .buttonShareOk {
    background-color: #009130;
    color: white;
  }

   .linkShare {
     cursor: pointer;
   }

  .linkShare:hover {
    color: #FFC107;
    cursor: pointer;
  }

  .check{
    cursor: pointer;
    padding-left: 10px;
  }

  .paddingTop {
    color: black;
    padding-bottom: 17px !important; 
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.dropdown-menu {
  padding-top: 0px !important;
  margin-top: 0px !important;
}

.danger{
  background-color: rgb(187, 46, 60);
}

.dropdown-item{
    padding-right: 0px !important;
    margin-right: 0px !important;
    padding-left: 10px !important;
    margin-left: 0px !important;
}







