/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body{
    font-family: 'Lato', sans-serif;
}
header{
    background: linear-gradient(#000000, #3c1f01);
}
.navbarStyle{
    background-color: #000000;
    height: 110px;
}

.navbarTextStyle{
    font-size: 18px;
    font-weight: 600;
    color: #fdfefe;
}

.navbarBut{
   margin-right: 10%;
}
.navbarBut2{
    padding-top: 5px;
    padding-right: 40px;
}

.navbarTextPos{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10%;
}

.navbarTextPos2{
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.hr li {
    display: inline;
}

.header{
    background: linear-gradient(#000000, #3c1f01);
}


.header{
    height:auto;
}

.colorText {
    color: #fdfefe;
}

.colorText:hover {
    color: #fdfefe;
}

.colorText1 {
    color: #2c1fdf;
    cursor: pointer;
}

.titleText{
    font-size: 18px;
}

.textLogo {
    font-size: 70px;
}

.textHeader {
    font-size: 20px;
    font-weight: 100px;
}

.paddingText{
    padding-top: 30px;
}


.bLogIn{
    margin-right: 50px;
}

.links:link  {
    text-decoration: none;
}

.links:active{
    text-decoration: none;
    cursor: pointer;
}

.links:visited{
    text-decoration: none;
    cursor: pointer;
}

.links:hover{
    text-decoration: none;
    cursor: pointer;
}


.linksTable:link  {
    text-decoration: none;
    color:#FFC107
}

.linksTable:active{
    text-decoration: none;
    cursor: pointer;
    color: #155C00;
}

.linksTable:visited{
    text-decoration: none;
    cursor: pointer;
    color:#FFC107;
}

.linksTable:hover{
    text-decoration: none;
    cursor: pointer;
    color: #155C00
}

.paddingCurrency{
    padding-bottom: 50px;
    background-color: #3c1f01;
}

.odd{
    background-color: #3c1f01!important;
}
.even{
    background-color: #301b00!important;
}

.borderless td, .borderless th {
    border: none;
}

.tableNameS{
    font-size: 18px;
    font-weight: 200;
}


.DesCurName {
    padding-top: 75px;
}

.DesCurText {
    padding-left: 25px;
    color: #fdfefe;
    font-size: 18px;
    padding-bottom: 20px;
}

.line{
    padding-top: 30px;
    border-bottom: 1px solid rgba(150, 149, 149, 0.925);
}

.tableSize {
    font-size: 18px;
}

#datatables_length{
    color: rgb(161, 161, 161);
}

.footer{
    background-color: #000000;
    padding-bottom: 50px;
}

.footerColor{
    color: rgb(161, 161, 161);
    padding-top: 50px;
}

.footerStyle{
    margin-bottom: auto;
}

#datatables_info{
    color: rgb(161, 161, 161);
}

#datatables_previous{
    color: #fdfefe;
}


@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 25%;
    }
}

.omb_login{
    padding-bottom: 50px;
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10;}
.omb_login .omb_socialButtons .omb_btn-login {background: #4337df;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
    background-color: rgb(109, 109, 109);
    color: rgb(0, 0, 0);
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

.paddingInput{
    margin-bottom: 20px;
}

.paddingInput2{
    margin-top: 40px;
}


.btn-pos {
    margin-bottom: 40px;
}

.posTextLog {
    padding-bottom: 20px;
}

.paddingTop {
    padding-top: 20px;
}

.delete {
    cursor: pointer;
}

.like {
    cursor: pointer;  
}

.padding-right {
    padding-right: 10px;
}

.tableStyle {
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.modal-content{
    background-color: #301b00;
  }


  .loginStyle {
    background-color: #301b00;
}

  .curDel{
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .colorTextLink{
    color: #aaa;
  }

  .colorTextLink:hover{
    color: rgb(255, 255, 255);
  }

  .buttonBasic {
      margin-bottom: 30px;
      margin-top: 30px;
  }

  .selected{
      opacity: 0.5;
  }
  
  .display{
      display: none !important;
  }

  .fedorStyle{
   width: 65%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto
  }

  .tabStyle{
      padding-top: 10px;
  }
  
  .paddingHeader{
      padding-bottom: 10px;
  }
  
  #everything {
    color:#868E96;
    margin-right: 1px;
  }

  #everything:visited {
    background-color: #FFC107;
    margin-right: 1px;
    color: white;
  }

  #everything:active {
    margin-right: 1px;
    color: white;
  }

  #everything:hover {
    margin-right: 1px;
    color: white;
    background-color: #868E96;
  }



  #toFavorite {
        color:#868E96;
        margin-right: 1px;
  }

  #toFavorite:visited {
    background-color: #FFC107;
    margin-right: 1px;
    color: white;
  }

  #toFavorite:active {
    margin-right: 1px;
    color: white;
  }

  #toFavorite:hover {
    margin-right: 1px;
    color: white;
    background-color: #868E96;
  }



   #toDeleted{
    color:#868E96;
    margin-right: 1px;
   }

   #toDeleted:visited {
    background-color: #FFC107;
    margin-right: 1px;
    color: white;
  }

  #toDeleted:active {
    margin-right: 1px;
    color: white;
  }

   #toDeleted:hover {
    margin-right: 1px;
    color: white;
    background-color: #868E96;
  }



  .chekt {
    cursor: default;
    background-color: transparent;
  }

  .fa-check {
      color: green;
  }

  .modal-title{
      padding-bottom: 10px;
  }

  .alert{
    margin-bottom: auto;
  }

  .textRegist{
      padding-top: 30px;
  }

   .spyner{
  z-index: 999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  opacity: 1 !important;
}

.spynerBasic{
    background-color: rgb(91, 93, 94);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 998;
    opacity: 0.5;
}

#datatables_filter{
    float: right;
}

#datatables_info{
    float: left;
    padding-top: 0px;
}

#datatables_length{
float: left;
}

#datatables_paginate{
float: right;
}


#loginTables_filter{
    float: right;
}

#loginTables_info{
    float: left;
    padding-top: 0px;
    color: #7E94A1;
}

#loginTables_length{
float: left;
color: #7E94A1;
}

#loginTables_paginate{
float: right;
}

#deletedTables_filter{
    float: right;
}

#deletedTables_info{
    float: left;
    padding-top: 0px;
    color: #7E94A1;
}

#deletedTables_length{
float: left;
color: #7E94A1;
}

#deletedTables_paginate{
float: right;
}


#datatables{
    padding-top: 0px;
}





