/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body{
    font-family: 'Lato', sans-serif;
}
header{
    background: linear-gradient(#000000, #3c1f01);
}
.navbarStyle{
    background-color: #000000;
    height: 80px;
}

.navbarTextStyle{
    font-size: 18px;
    font-weight: 600;
    color: #fdfefe;
}

.navbarBut{
   margin-right: 10%;
   cursor: pointer;
}
.navbarBut2{
    padding-top: 5px;
    padding-right: 20px;
}

.navbarTextPos{
    padding-top: 25px;
    padding-bottom: 0px;
    padding-left: 10%;

}

.navbarTextPos2{
    padding-top: 20px;
    padding-bottom: 20px;
}

ul.hr li {
    display: inline;
}

.header{
    background: linear-gradient(#000000, #3c1f01);
}


.header{
    height:auto;
}

.colorText {
    color: white;
}

.colorText:hover {
    color: white;
}

.colorText1 {
    color: #2c1fdf;
    cursor: pointer;
}

.colorText2 {
    color: #007BFF;
    cursor: pointer;
    padding-top: 10px;
    font-weight: 700;
    font-size: 20px;
}
 
.colorText2:hover {
    color: rgb(5, 101, 202);

}

.colorText3 {
    color: #007BFF;
    cursor: pointer;
    padding-bottom: 20px; 
}

.colorText3:hover {
    color: rgb(5, 101, 202);

}

.titleText{
    font-size: 18px;
}

.textLogo {
    font-size: 70px;
}


.textHeader {
    font-size: 20px;
    font-weight: 100px;
}

.paddingText{
    padding-top: 30px;
}


.bLogIn{
    margin-right: 50px;
}

.links:link  {
    text-decoration: none;
}

.links:active{
    text-decoration: none;
    cursor: pointer;
}

.links:visited{
    text-decoration: none;
    cursor: pointer;
}

.links:hover{
    text-decoration: none;
    cursor: pointer;
}


.linksTable:link  {
    text-decoration: none;
    color:#FFC107;
    font-size: 20px;
}

.linksTable:active{
    text-decoration: none;
    cursor: pointer;
    color: #009130;
}

.linksTable:visited{
    text-decoration: none;
    cursor: pointer;
    color:#FFC107;
}

.linksTable:hover{
    text-decoration: none;
    cursor: pointer;
    color: #009130;
}

.paddingCurrency{
    background-color: #3c1f01;
}


.paddingBottom{
    padding-bottom: 40px;
}


html, body {
	height: 100%;
}

* {
	margin: 0;
}


.page-wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -150px;
}

.push{
    height: 150px;
}

.emptyPadding{
    margin: 4.7% auto; 
}

.fullPadding{
    margin: 12% auto;
}


.site-footer{
    height: 150px;
    background-color: #000000;
    padding-bottom: 50px;
    width: 100%;
}


.odd{
    background-color: #3c1f01!important;
}
.even{
    background-color: #301b00!important;
}

.borderless td, .borderless th {
    border: none;
}

.tableNameS{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 200;
}


.DesCurName {
    padding-top: 20px;
    padding-bottom: 25px;
}

.DesCurText {
    padding-left: 25px;
    color: #fdfefe;
    font-size: 18px;
    padding-bottom: 20px;
}

.line{
    padding-top: 30px;
    border-bottom: 1px solid rgba(150, 149, 149, 0.925);
}

.tableSize {
    font-size: 16px;
}

#datatables_length{
    color: rgb(161, 161, 161);
    cursor: pointer;
}


.footerColor{
    color: rgb(161, 161, 161);
    padding-top: 50px;
}

.footerStyle{
    margin-bottom: auto;
}

#datatables_info{
    color: rgb(161, 161, 161);
}

#datatables_previous{
    color: #fdfefe;
}

@media (min-width: 768px) {
    .omb_row-sm-offset-3 div:first-child[class*="col-"] {
        margin-left: 8%;
    }
}

.omb_login{
    padding-bottom: 30px;
}

.omb_login .omb_authTitle {
    text-align: center;
	line-height: 300%;
}
	
.omb_login .omb_socialButtons a {
	color: white; 
	opacity:0.9;
}
.omb_login .omb_socialButtons a:hover {
    color: white;
	opacity:1;    	
}
.omb_login .omb_socialButtons .omb_btn-facebook {background: #3b5998; cursor: pointer;}
.omb_login .omb_socialButtons .omb_btn-google {background: #c32f10; cursor: pointer;}
.omb_login .omb_socialButtons .omb_btn-login {background: #4337df; cursor: pointer;}


.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
    background-color: rgb(109, 109, 109);
    color: rgb(0, 0, 0);
	width: 3em;
	text-align: center;
}			

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}
.omb_login .omb_loginForm  .help-block {
    color: red;
}

	
@media (min-width: 768px) {
    .omb_login .omb_forgotPwd {
        text-align: right;
		margin-top:10px;
 	}		
}

.paddingInput{
    margin-bottom: 20px;
}

.paddingInput2{
    margin-top: 40px;
}


.btn-pos {
    margin-bottom: 40px;
}

.posTextLog {
    padding-bottom: 20px;
}



.paddingTop {
    padding-top: 20px;
}

.delete {
    cursor: pointer;
}

.like {
    cursor: pointer;  
}

.padding-right {
    padding-right: 10px;
}

.buttonAdd{
    margin-top: 15px;
    margin-left: 15px;
}

.tableStyle {

    width:90%;
    margin-left: auto;
    margin-right: auto;
}

.colorConnect{
    background-color: #3c1f01;
}

.textcenter{
    text-align: center !important;
}


.tableStyle2 {
    margin-left: auto;
    margin-right: auto;
}

.tabWalletStyle{
    padding-left: 90px
}

.tabWalletStyle2{
    padding-left: 30px
}


.modal-content{
    background-color: #301b00;
  }


  .loginStyle {
    background-color: #301b00;
}

  .curDel{
      padding-top: 20px;
      padding-bottom: 20px;
  }

  .colorTextLink{
    color: #007BFF;
  }

  .colorTextLink:hover{
    color: rgb(255, 255, 255);
  }

  .buttonBasic {
      margin-bottom: 30px;
      margin-top: 30px;
  }

  .selected{
      opacity: 0.5;
  }
  
  .display{
      display: none !important;
  }

  .fedorStyle{
   width: 65%;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: auto
  }

  .tabStyle{
      padding-top: 10px;
  }

  .lenght{
      color: #868E96;
      font-size: 14px;
      padding-left: 20px;
      margin-top: 10px;
  }

  .colorPaging{
    color: #868E96;
  }

  .dropdownMenu{
      box-sizing: 50px;
  }
  

  .tableStyle2{
      padding-bottom: 50px;
  }
  
  .paddingHeader{
      padding-bottom: 10px;
  }
  
  #everything {
    color:#868E96;
    margin-right: 1px; 
  }

  #everything:visited {
    background-color: #FFC107;
    margin-right: 1px;
    color: white;
  }

  #everything:active {
    margin-right: 1px;
    color: white;
  }

  #everything:hover {
    margin-right: 1px;
    color: white;
    background-color: #FFC107;
  }



  #toFavorite {
        color:#868E96;
        margin-right: 1px;
  }

  #toFavorite:visited {
    background-color: #009130;
    margin-right: 1px;
    color: white;
  }

  #toFavorite:active {
    margin-right: 1px;
    color: white;
  }

  #toFavorite:hover {
    margin-right: 1px;
    color: white;
    background-color: #009130;
  }



   #toDeleted{
    color:#868E96;
    margin-right: 1px;
   }

   #toDeleted:visited {
    background-color: #aa0818;
    margin-right: 1px;
    color: white;
  }

  #toDeleted:active {
    margin-right: 1px;
    color: white;
  }

   #toDeleted:hover {
    margin-right: 1px;
    color: white;
    background-color: #aa0818;
  }


#toWallet{
    color:#868E96;
    margin-right: 1px;
    }


#toWallet:visited {
background-color: #17A2B8;
margin-right: 1px;
color: white;
}

#toWallet:active {
margin-right: 1px;
color: white;
}

#toWallet:hover {
margin-right: 1px;
color: white;
background-color: #17A2B8;
}

.paddingTextWallet{
    padding-top: 20px;
}


  .chekt {
    cursor: default;
    background-color: transparent;
  }

  .added {
    cursor: default;
    background-color: transparent;
  }

  .fa-check {
      color: green;
  }

  .fa-check-circle {
      color: #17A2B8;
  }

  .modal-title{
      padding-bottom: 10px;
  }

  .alert{
    margin-bottom: auto;
  }

  .persentUsdSize{
      font-size: 20px;
      padding-top: 0px;
  }


  .textRegist{
      padding-top: 30px;
      padding-bottom: 20px;
  }

  .textDecor{
      text-decoration: underline;
      cursor: pointer;
  }

  .col-xs-5{
      margin-left: 15px !important;
  }

  .facebook {
      margin-right: 35px;
  }

   .spyner{
  z-index: 999;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
  opacity: 1 !important;
  width: 100px;
  height: 100px;
}

.spynerBasic{
    background-color: rgb(91, 93, 94);
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 998;
    opacity: 0.8;
}

#datatables_filter{
    float: right;
}

#datatables_info{
    float: left;
    padding-top: 0px;
}

#datatables_length{
    padding-top: 20px;
float: left;
}

#datatables_paginate{
    padding-top: 20px;
float: right;
}


#loginTables_filter{
    float: right;
}

#loginTables_info{
    float: left;
    padding-top: 0px;
    color: #8AA1A1;
}

#loginTables_length{
    padding-top: 20px;
float: left;
color: #8AA1A1;
}

#loginTables_paginate{
padding-top: 20px;
float: right;
}


#deletedTables_filter{
    float: right;
}

#deletedTables_info{
    float: left;
    padding-top: 0px;
    color: #8AA1A1;
}

#deletedTables_length{
    padding-top: 20px;
float: left;
color: #8AA1A1;
}

#deletedTables_paginate{
padding-top: 20px;
float: right;
}

.dataTables_filter{
    float: right;
    color: #8AA1A1;
    padding-bottom: 20px;
}

.dataTables_info{
    float: left;
    padding-top: 0px;
    color: #8AA1A1;
}

.dataTables_length{
    padding-top: 20px;
    float: left;
    color: #8AA1A1;
}

.form-control {
    cursor: text;
}


.dataTables_paginate{
    padding-top: 20px;
    float: right;
}


#datatables{
    padding-top: 0px;
}

.weight {
    font-weight: 600;
}

.tableName {
    margin-right: 20px;
}

.buttonTabs{
    float: right;
}

.buttonsTabs2{
    float: left;
}

.paddingTabBut {
    margin-left: 10px;
    margin-bottom: 10px; 
}


.close{
    color: #8AA1A1;
    cursor: pointer;
    text-shadow: inherit;
}

.close:hover{
    color: #8AA1A1;
    opacity: 0.5;
    cursor: pointer;
}


.close:active{
    color: #8AA1A1;
    outline: none;
}

.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background-color: #301b00;
 }

.dataTables_empty{
    color: white;
}

.buttonLike{
    margin-left: 5px;
    margin-right: 5px;
}

.paddingTabs{
    margin-left: 15px;
}

.tableName{
    margin-top: 6px;
    margin-bottom: 6px;
}

.center {
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 25px;
}

.center2{
    margin-top: 6px;
    margin-bottom: 6px;
    margin-right: 20px;
}

.centerWal {
    margin-top: 6px;
    margin-bottom: 6px;
}

.inputStyle{
    width: 100px;
}

.search{
    margin-top: 15px;
}

.search2{
    margin-bottom: 15px;
}

#example-search-input{
    width: 100px !important;
}

.marginWallet{
    padding-left: 35px;
    padding-bottom: 30px;
}

.walletTable{

    font-size: 18px;
    font-weight: 700;
}

.walletInputCoin{
    padding-left: 30px;
}

.modal-content2{
    width: 90%;
}

.deleteCoin{
    padding-left: 5px;
    font-size: 18px;
    font-weight: 700;
}

.padWalletTable{
    padding-bottom: 10px;
}

.colorPrice:hover{
    color: #17A2B8;
}

.colorPrice {
    color: #17A2B8;
}

.cursorNone{
    cursor: default;
}
.colorTotal{
    color: #DC3545 ;
}

.colorTotal:hover {
    color: #DC3545 ;
}

.marginInput{
    margin-right: 20px;
}

.nameWidth {
    width: 250px;
}

.loading {
    padding-top: 65px;
}

.wallet {
    cursor: pointer;
}

.totalSize{
    font-size: 70px;
}

.totalSize2{
    font-size: 40px;
}

.addCoinBut{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.paddingHeader{
    padding-bottom: 10px;
}

.paddingCenter{
    margin-left: 20%;
    margin-right: 20%;
}

.emptyPadding{
    margin: 4.7% auto; 
}

.fullPadding{
    margin: 10% auto;
}

.emptyPaddingTab{
    min-height: 30vh;

}

.fullPaddingTab{
    min-height: 50vh;
}

.paddingTableWallet{
    padding-top: 20px;
}

.modal-open .modal {
  display: flex !important;
  align-items: center !important;
  }


.modal-dialog {
    flex-grow: 1;
}

@media screen and (min-width: 1370px) {
    .emptyPadding{
        margin: 6.9% auto; 
    }
    
    .fullPadding{
        margin: 12% auto;
    }
  }


  @media screen and (min-width: 1870px) {
    .emptyPadding{
        margin: 11.9% auto; 
    }
    
    .fullPadding{
        margin: 15.5% auto;
    }

    .emptyPaddingTab{
        min-height: 35vh;
    
    }

    .fullPaddingTab{
        min-height: 60vh;
    }
  }

  @media screen and (min-width: 2100px) {
    .emptyPadding{
        margin: 15% auto; 
    }
    
    .fullPadding{
        margin: 17.8% auto;
    }

    .emptyPaddingTab{
        min-height: 55vh;
    
    }

    .fullPaddingTab{
        min-height: 70vh;
    }

  }

  @media screen and (min-width: 2900px) {
    .emptyPadding{
        margin: 19% auto; 
    }
    
    .fullPadding{
        margin: 21% auto;
    }

    .emptyPaddingTab{
        min-height: 75vh;
    
    }
    .fullPaddingTab{
        min-height: 85vh;
    }
  }


  
  /* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {
    
    .tableStyle {
        width:100%;
    }


    
  }
  
  /* 
    ##Device = Tablets, Ipads (landscape)
    ##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    
    .tableStyle {
        width:100%;
    }


    
  }
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
    
    .tableStyle {
        width:100%;
    }

    .totalSize{
        font-size: 40px;
    }

    .totalSize2{
        font-size: 20px;
    }


    .modal-dialog{
        width: 400px;
        margin-left: auto;
        margin-right: auto;
    }
    
  }
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
    
    .tableStyle {
        width:100%;
    }

    .totalSize{
        font-size: 40px;
    }

    .totalSize2{
        font-size: 20px;
    }


    .modal-dialog{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    
  }

  .modal-backdrop.show {
    opacity: 0;
    transition: 4s;
  }
  
  .modal-content {
    opacity: 0;
    transition: 0.15s;
  }

